.Dialog {
    background-color: #9ab6d271;
    backdrop-filter : blur(5px);
}

.DialogCloser {
    background-image: url("./closebtnaero.svg");
    top             : 0em;
    width           : 48px;
}