@font-face {
    font-family: "CascadiaCode";
    src: url("./../../res/CascadiaCode.ttf");
}

* {
    position: fixed;

    --background-color: #262929;
    --secondary-color : #4e5555;

    --text-color      : white;
    --secondary-text-c: #acacac;

    --text-font       : "CascadiaCode";

    --transition-time : 250ms;
}

body {
    background-color: var(--background-color);
    color           : var(--text-color);
    font-family     : var(--text-font);
}

.Dialog {
    background-color: var(--background-color);
    border-color    : var(--secondary-color);
    border-style    : solid;
    border-radius   : 5px;
}

.DialogCloser {
    background-color: red;
    border-radius   : 50%;
}

#RunMenu {
    background-color: var(--background-color);
    border-color    : var(--secondary-color);
    border-style    : solid;
    border-radius   : 5px;
    transition      : var(--transition-time);
}

#RunMenu:hover {
    background-color: var(--secondary-color);
}

#Toolbar  {
    border-color    : var(--secondary-color);
    font-family     : inherit;
    background-color: inherit;
    color           : inherit;
    border-style    : solid;
    border-radius   : 5px;
}

#Toolbar > toolbar-item {
    font-family     : inherit;
    background-color: var(--secondary-color);
    color           : inherit;
    border-color    : var(--secondary-color);
    border-style    : solid;
    border-radius   : 0;
    
    transition      : var(--transition-time);
}

#Toolbar > toolbar-item:hover {
    background-color: var(--text-color);
    color           : var(--background-color);
    border-color    : var(--text-color);
}

#Output  {
    border-color    : var(--secondary-color);
    font-family     : inherit;
    background-color: inherit;
    color           : inherit;
    border-style    : solid;
    border-radius   : 5px;
}

#ToolbarItemSelection {
    background-color: var(--secondary-color);
}

#ToolbarItemSelection > ul {
    transition      : var(--transition-time);
}

#ToolbarItemSelection > ul:hover {
    background-color: var(--text-color);
    color           : var(--background-color);
}

#Codes {
    border-color    : var(--secondary-color);
    background-color: var(--background-color);
    color           : var(--text-color);
    caret-color     : white;
    border          : solid var(--secondary-color);
    border-radius   : 5px;
    font-family     : inherit;
}